.project-card {
  background: var(--card);
  border-width: 2px;
  border-radius: 10;
  border-color: var(--border);
}


.project-card > h3 {
  font-size: 30px;
}

.project-card-description {
  margin-bottom: auto;
  flex: 1;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.project-card-left {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project-card-skills {
  border-top-width: 2px;
  border-color: var(--border);
  padding: 4px;
}

.project-card-image {
  margin: auto;
  overflow: hidden;
  border-radius: 0 8 8 0;
  height: 100%;
}