@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "JetBrainsMono";
  src:
    url(var(--jbmono-woff2)) format("woff2"),
    url(var(--jbmono-ttf)) format("truetype");
  font-display: swap;
}


:root {
  --background: #f1faee;
  --altbackground: #e3efe1;
  --invbackground: #1d3557;
  --border: #457b9d;
  --text: #1d3557;
  --subtext: #457b9d;
  --invtext: #f1faee;
  --invsubtext: #a8dadc;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1d3557;
    --altbackground: #2a3f5f;
    --invbackground: #f1faee;
    --text: #f1faee;
    --subtext: #a8dadc;
    --invtext: #1d3557;
    --invsubtext: #457b9d;
  }
} */

html.dark {
  --background: #1d3557;
  --altbackground: #2a3f5f;
  --invbackground: #f1faee;
  --text: #f1faee;
  --subtext: #a8dadc;
  --invtext: #1d3557;
  --invsubtext: #457b9d;
}

@theme inline {
  --color-background: var(--background);
  --color-altbackground: var(--altbackground);
  --color-invbackground: var(--invbackground);
  --color-foreground: var(--text);
  --color-subtext: var(--subtext);
  --color-invtext: var(--invtext);
  --color-invsubtext: var(--invsubtext);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: JetBrainsMono, monospace;
}

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.6s ease-out;
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.6s ease-out;
  }

  .animation-delay-200 {
    animation-delay: 0.2s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .animation-delay-400 {
    animation-delay: 0.4s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .animation-delay-600 {
    animation-delay: 0.6s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
}