@import "tailwindcss";

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/static/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('/static/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}  


:root {
  --background: #F4F7F3;
  --card: #E3E8E3;
  --border: #CBD6CC;
  --text: #2B2F2B;
  --subtext: #5F6B63;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F7F4;
    --text: #ededed;
  }
}

body {
  text-align: center;
  background: var(--background);
  color: var(--text);
  font-family: JetBrainsMono;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.page {
  height: 100vh;
}

.subtext {
  color: var(--subtext);
  font-size: 12px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

.header {
  background: #55695c;
  color: white;
}

.header-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.header-card-profile-image {
  border-radius: 100;
  height: 100%;
  overflow: hidden;
  max-height: 200px;
  max-width: 200px;
}

@media only screen and (max-width: 600px) {
  .header-card-profile-image {
    display: none;
  }
}

.nav-header {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  margin-bottom: 10px;
}

.link-footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

.content-outer {
  width: 100%;
  padding-bottom: 10vh;
  overflow-y: auto;
  height: 75%;
  padding-top: 10px;
}

.content-inner {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 900px) {
  .content-outer {
    width: 80%;
  }
}

#about {
  text-align: justify;
}