@import "tailwindcss";

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/static/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('/static/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}  


:root {
  --background: #F4F7F3;
  --card: #E3E8E3;
  --border: #CBD6CC;
  --text: #2B2F2B;
  --subtext: #5F6B63;
  --subtext-inverted: #e8e8e8;
  --altbackground: #55695c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F7F4;
    --text: #ededed;
  }
}

body {
  text-align: center;
  background: var(--background);
  color: var(--text);
  font-family: JetBrainsMono;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.page {
  height: 100vh;
  overflow-y: scroll;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

.subtext {
  color: var(--subtext);
}

.inverted.subtext {

  color: var(--subtext-inverted);
}

p.subtext {
  font-size: 12px;
}

h3 {
  font-size: 25px;
}

.intro {
  background: var(--altbackground);
  color: white;
}

.intro-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.intro-card-text {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.intro-card-profile-image {
  border-radius: 100;
  height: 100%;
  overflow: hidden;
  max-height: 150px;
  max-width: 150px;
}

@media only screen and (max-width: 600px) {
  .intro-card-profile-image {
    display: none;
  }
}

.nav-header {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  margin-bottom: 10px;
}

.content {
  margin-left: 20%;
  margin-right: 20%;
}

.about-part {
  margin-top: 8px;
  text-align: justify;
}



.link-footer {
  position: fixed;
  left: 5;
  bottom: 0;
  width: min-content;
}

@media only screen and (max-width: 900px) {
  .link-footer {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background: var(--card);
  }
}

.techs-category {
  margin-bottom: 28px;
}