


.nav-button {
  position: relative;
  display: inline-block;
}

.nav-button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-out;
}

.nav-button.selected::after {
  transform: scaleX(1);
}




.nav-button:hover {
  cursor: pointer;
}

.nav-button:hover::after {
  transform: scaleX(1);
}