.tech-card {
  display: flex;
  gap: 5px;
  background: var(--card);
  border-width: 2px;
  border-radius: 10;
  border-color: var(--border);
  align-items: center;
  padding: 6px;
}

.tech-card>.subtext {
  margin-left: auto;
}