.experience-card {
  background: var(--card);
  border-width: 2px;
  border-radius: 10;
  border-color: var(--border);
  margin-bottom: 20px;
  text-align: left;
  padding-left: 20px;
}

.experience-card-title {
    display: flex;
    gap: 5px;
}